<div class="home">
    <div class="bg"></div>
    <div class="overlay">
        <div class="details">
            <img src="https://keka.blob.core.windows.net/8e403b47-a338-4988-acc0-683e2a3ddf2e/200x200/profileimage/1aab74f2df43487aa7c1a7b6c1d87444.jpg" />
            <div class="welcome-msg">
                Hi there,
            </div>
            <div class="label">
                I am <span>
                    Aneel Kumar
                </span>
            </div>
            <div class="description">
                I am a Software Engineer at <a href="https://www.technovert.com">Technovert, Hyderabad</a> with 2+ years of experience in designing and developing Web Applications.
            </div>
        </div>
    </div>
</div>