<div class="contact">
    <div class="overlay">
        <div class="container">
            <div class="icons-wrapper">
                <a href="https://www.instagram.com/aneel_kumar_" target="_blank">
                    <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/Aneelkumar97">
                    <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/aneel-kumar-450a32147">
                    <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/Aneelkumar9999">
                    <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>